<?xml version="1.0" encoding="{$lang->items['LANG_GLOBAL_ENCODING']}"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{$lang->items['LANG_GLOBAL_DIRECTION']}" lang="{$lang->items['LANG_GLOBAL_LANGCODE']}" xml:lang="{$lang->items['LANG_GLOBAL_LANGCODE']}">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset={$lang->items['LANG_GLOBAL_ENCODING']}" />
<link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../components/com_contactmailer/contactmailer.css" />
</head>
<body>
<table cellpadding="4" cellspacing="1" class="tblborder" style="width:100%; text-align: center">
 <tr class="tblhead">
  <td>{$lang->items['LANG_ACP_CONTACT_POSTS1']}</td>
 </tr>
</table>
<div class="space">&nbsp;</div>
<table cellpadding="4" cellspacing="1" class="tblborder" style="width:100%; text-align: center">
 <tr class="tblsection">
  <th>{$lang->items['LANG_ACP_CONTACT_POSTS8']}</th>
  <th>{$lang->items['LANG_ACP_CONTACT_DETAIL3']}</th>
  <th>{$lang->items['LANG_ACP_CONTACT_POSTS4']}</th>
  <th>{$lang->items['LANG_ACP_CONTACT_POSTS5']}</th>
  <th>{$lang->items['LANG_ACP_CONTACT_DETAIL5']}</th>
  <th>{$lang->items['LANG_ACP_CONTACT_POSTS3']}</th>
  <th>{$lang->items['LANG_ACP_CONTACT_POSTS6']}</th>
  <th>{$lang->items['LANG_ACP_CONTACT_POSTS7']}</th>
 </tr>
 $contact_postsbit
</table>
<div class="space">&nbsp;</div>
<div class="pages">$pagelink</div>
<div class="space">&nbsp;</div>
<div class="copyright">{$lang->items['LANG_CONTACT_COPY']}</div>
</body>
</html>